{{>header}}
<div class = "title-container">
	<img src = "miniconnect.png" class = "game-clip">
	<div class = "game-title">Connect four</div>
</div>

<div id = "content">
	<div class = "content-column" id = "left-column">
		<div class = "player" id = "player-one" data-name="{{player}}" data-room="{{room}}" data-color="{{color}}">
			<div class = "username">{{player}}</div>
			<div class = "connect-status">Room: {{room}}</div>
		</div>
		<div id = "turn-marker"></div>
		<button class = "button-option" id = "forfeit-button">Forfeit</button>
		<button class = "button-option" id = "draw-button">Request a draw</button>
	</div>
	<div class = "spacer-div">
	</div>
	<div id = "board-container">
		<div id = "button-array">
			<button class = "chip-button" id="0"><img src = "arrowtwo.png" class = "darrow"></button>
			<button class = "chip-button" id="1"><img src = "arrowtwo.png" class = "darrow"></button>
			<button class = "chip-button" id="2"><img src = "arrowtwo.png" class = "darrow"></button>
			<button class = "chip-button" id="3"><img src = "arrowtwo.png" class = "darrow"></button>
			<button class = "chip-button" id="4"><img src = "arrowtwo.png" class = "darrow"></button>
			<button class = "chip-button" id="5"><img src = "arrowtwo.png" class = "darrow"></button>
			<button class = "chip-button" id="6"><img src = "arrowtwo.png" class = "darrow"></button>
		</div>
		<div id = "board">
			{{>col}}
			{{>col}}
			{{>col}}
			{{>col}}
			{{>col}}
			{{>col}}
			{{>col}}
		</div>
	</div>

	<div class = "spacer-div">
	</div>
	{{#if otherPlayer}}
		<div class = "content-column" id = "right-column">
			<div class = "player" id = "player-two"data-name="{{otherPlayer.name}}" data-room="{{room}}" data-color="{{otherPlayer.color}}">
				<div class = "username">{{otherPlayer.name}}</div>
				<div class = "connect-status" style = "color:green;">Connected</div>
				<div class = "score">Score: 0</div>
			</div>
	{{else}}
		<div class = "content-column" id = "right-column">
			<div class = "player" id = "player-two">
				<div class = "username">[...]</div>
				<div class = "connect-status" style="color:red;">Not connected</div>
				<div class = "score">Score: 0</div>
			</div>
	{{/if}}
	<div id="wrapper">
    			<div id="chatbox"></div>
        			<input name="usermsg" type="text" id="usermsg" size="63"/>
        			<input name="submitmsg" type="button"  id="submitmsg" value="Send"/>
		</div>
	</div>

</div>


<!-- The Modal -->	
<div id="loading-modal" class="modal">
	  <!-- Modal content -->
 	 <div id="modal-content">
    		<p>Waiting for another player...</p><img src="./loading.gif"style="width:100px;height:auto;">
  	</div>
</div>


<script type="text/javascript" src="./four.js"></script>
